<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="/usuario">Inicio </a></li>
        <li><a href="/signup">Registrar usuario</a></li>
        <li><a href="#section2">Configuraciones</a></li>
      </ul><br>      
    </div>

    <!-- Contenido -->
    <div class="col-sm-2 sidenav ">
      <h1>Usuarios</h1>
    </div>
    <div class="col-sm-2 sidenav list-group-item">
      <% @user.each do |u| %>
      <h1><kbd><%= u.nombre %></kbd></h1>
      <% end %>
    </div>
  </div>
</div>